---
permalink:
  serverless: /
---
{%- set country = eleventy.serverless.query.country -%}
{%- set station = eleventy.serverless.query.station -%}
<!doctype html>
<html lang="en" style="color-scheme: dark light;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Radio Player">
    <title>Web Radio Player</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📣</text></svg>">
    <link rel="stylesheet" href="assets/main.css">
    <script type="module">
      import { CustomForm } from '/assets/custom-form.js?v=1';
      import { RadioPlayer } from '/assets/radio-player.js?v=1';

      document.querySelector('custom-form').addEventListener('station-change', event => {
        document.querySelector('web-radio-player').station = event.detail.station;
      });
    </script>
  </head>
  <body>
    <main>
      <h1>Web Radio Player</h1>
      <custom-form data='{{ globaldata | dump | safe }}'>
        <form action="/" method="post">
          <fieldset aria-labelledby="station-label">
            <legend id="station-label">Station Selector</legend>
            <div>
              <label for="country">Country</label>
              <select name="country" id="country">
                {%- for item in globaldata.countries -%}
                  <option value="{{item.code}}" {% if country == item.code %}selected{% endif %}>{{item.name}}</option>
                {%- endfor -%}
              </select>
            </div>

            {% if country %}
              <div>
                <label for="station">Station</label>
                <select name="station" id="station">
                  <option value="" {% if not station %}selected{% endif %}>Select a station</option>
                  {%- for item in globaldata.stations[country] -%}
                    <option value="{{item.code}}" {% if eleventy.serverless.query.station == item.code %}selected{% endif %}>{{item.name}}</option>
                  {%- endfor -%}
                </select>
              </div>
            {% endif %}

            <button type="submit">Apply selection</button>
          </fieldset>
        </form>
      </custom-form>

      <web-radio-player>
      {%- if country -%}
        {%- if station -%}
        {%- set currentStation = globaldata.stations[country] | activeStation(station) -%}
        <div></div>
        <p>Selected station: {{ currentStation.name }}</p>
        {%- if currentStation and currentStation.stream -%}
        <div></div>
            <audio controls src="{{ currentStation.stream }}">
              Your browser does not support the audio element.
            </audio>
          {%- endif -%}
        {%- else -%}
          <p>Please Select a station</p>
        {%- endif -%}
      {%- endif -%}
      </web-radio-player>
    </main>
  </body>
  <footer>
    <p><a href="https://www.11ty.dev/">Using Eleventy {{ eleventy.version }}</a></p>
  </footer>
</html>
